body {
    font-family:'Courier New', Courier, monospace;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid #ccc;
}

header .left-header, header nav {
    width: 600px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

header h1 {
    margin: 0;
    flex: 1;
    text-align: center;
}

.logo-header {
    height: 32px;
    width: 32px;
}

.content {
    margin: 0 auto;
    padding: 40px 0;
    width: 100%;
    max-width: 1200px;
}

.button, button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    cursor: pointer;
    text-decoration: none;
}

.button:hover, button:hover {
    background-color: #5086d3;
    color: white;
}

.errorlist li, .error-message, .error{
    color: red;
}