h2 {
    align-self: center;
    margin-bottom: 20px;
}

section {
    gap: 0;
    margin: 0 0 20px 0;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.follow-section {
    width: 100%;
}

.search-bar {
    display: flex;
    flex-direction: row;
    gap: 20px;
}