h2 {
    text-align: center;
    margin: 50px 0;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

ul {
    padding: 5px 15px;
    font-size: 14px;
    color: #666;
    margin: 10px 0;
}