h2 {
    text-align: center;
    margin: 50px 0;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
}

form label {
    display: block;
    font-weight: bold;
}

form input{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

.error {
    color: red;
    font-size: 0.9em;
}

form ul {
    padding: 5px 15px;
    font-size: 14px;
    color: #666;
    margin: 10px 0;
}

form button{
    border: 1px solid #ccc;
    color: black;
    background-color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-family:'Courier New', Courier, monospace;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}