{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'reviews/base_review.css' %}">
    <link rel="stylesheet" href="{% static 'reviews/starability/starability-basic.css' %}">
{% endblock %}

{% block content %}

    <h2>Modifier le ticket</h2>
    <section>
        <form class="ticket" method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">Envoyer</button>
        </form>
    </section>

{% endblock %}