{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'reviews/follow.css' %}">
{% endblock %}

{% block content %}
    <div class="follow-content">

        <h2>Suivre d'autres utilisateurs</h2>

        <form class="follow-section" method="post">
            {% csrf_token %}
            {{ form.followed_user.label_tag }}
            {{ form.followed_user }}

            {% if form.followed_user.errors %}
                <div>
                    {{ form.followed_user.errors }}
                </div>
            {% endif %}

            <button type="submit">Envoyer</button>
        </form>

        {% if form.non_field_errors %}
            <div>
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <h2>Abonnements</h2>
        <ul>
            {% for relation in following %}
                <li>
                    {{ relation.followed_user.username }}
                    <form method="post" action="{% url 'unfollow' relation.followed_user.id %}">
                        {% csrf_token %}
                        <button type="submit">Désabonner</button>
                    </form>
                </li>
            {% empty %}
                <li>Vous ne suivez personne.</li>
            {% endfor %}
        </ul>

        <h2>Abonnés</h2>
        <ul>
            {% for relation in followers %}
                <li>
                    {{ relation.user.username }}

                    {% if relation.user not in blocked_user %}
                        <form method="post" action="{% url 'block' relation.user.id %}">
                            {% csrf_token %}
                            <button type="submit">Bloquer</button>
                        </form>
                    {% endif %}
                </li>
            {% empty %}
                <li>Personne ne vous suit encore.</li>
            {% endfor %}
        </ul>

        <h2>Utilisateurs bloqués</h2>
        <ul>
            {% for relation in blocked_user %}
                <li>
                    {{ relation.user.username }}
                    <form method="post" action="{% url 'unblock' relation.blocked_user.id %}">
                        {% csrf_token %}
                        <button type="submit">Débloquer</button>
                    </form>
                </li>
            {% empty %}
                <li>Vous ne bloquez personne.</li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}