{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'reviews/home.css' %}">
{% endblock %}

{% block content %}
    <div class="content">

        <div>
            <a href="{% url 'create_ticket' %}">Demander une critique</a>
            <a href="{% url 'create_ticket_and_review' %}">Créer une critique</a>
        </div>

        {% if posts %}

            <ul class="post-list">
                {% for post in posts %}

                    {% if post.content_type == "review" %}
                        <div class="review">

                            <h3>Critique de {{ post.user }}</h3>
                            <p><strong>{{ post.headline }}</strong> - {{ post.rating }}/5</p>
                            <p>{{ post.body }}</p>

                            <div class="ticket">
                                <h4>Ticket lié : {{ post.ticket.title }}</h4>
                                <p>{{ post.ticket.description }}</p>
                                {% if post.ticket.image %}
                                    <img src="{{ post.ticket.image.url }}" alt="Image du ticket">
                                {% endif %}
                            </div>

                        </div>

                    {% elif post.content_type == "ticket" %}

                        <div class="ticket">

                            <h3>Ticket de {{ post.user }}</h3>
                            <p><strong>{{ post.title }}</strong></p>
                            <p>{{ post.description }}</p>

                            {% if post.image %}
                                <img src="{{ post.image.url }}" alt="Image du ticket">
                            {% endif %}

                            {% if post.user != request.user and not post.review_set.exists %}
                                <form method="get" action="{% url 'create_review' post.id %}">
                                    <button type="submit">Créer une critique</button>
                                </form>
                            {% endif %}

                        </div>

                    {% endif %}

                {% endfor %}
            </ul>

        {% else %}

            <p>Aucune publication pour le moment.</p>

        {% endif %}

    </div>
{% endblock content %}